{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="about">
<h1>About MCA</h1>
<h2>Why My Concert App?</h2>
<p>
  I didn't realize how much I loved live music until I married a girl who loved live music. Having gone to a handful of shows in the years before I met her, my concert attendance has skyrocketed in the years since.
</p>
<p>
  We each kept a textfile or spreadsheet of the concerts we'd been to, but those boring documents couldn't convey the excitement we felt when attending the shows. We both wanted a better way to keep track of all of the concerts we've been to, add a few notes, and maybe upload a few photos to help remember and relive the experience.
</p>
<p>
  MCA (My Concert App) has been in the back of my brain for years. It wasn't only until recently that I've been able to make it tangible. Having enrolled in a Full-Stack Web Development Bootcamp at Nashville Software School (NSS), I had the opportunity to create web applications as part of my education and training.
</p>
<p>
  Hopefully, you get as much enjoyment in using this site as we have.
</p>
<h3>Rock On!</h3>
<h4>- MCA</h4>
</div>
{% endblock content %}