{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- AUTHENTICATED USER VIEW -->
{% if user.is_authenticated %}

<!-- search bar functionality -->


<!-- page body under nav banner and search -->
<div class="body_copy">
  <h1>Welcome back {{ user.username }}!</h1>

  <!-- recent concerts list -->
  {% if recent_concerts %}
  <h1>Here are the five most recently added concerts</h1>

  {% for concert in recent_concerts %}
  <div class="search_card">
    <h1>{{concert.api.artist.name}}</h1>
    <h2>Venue: {{concert.api.venue.name}}</h2>
    <h3>Date: {{concert.newDate}}</h3>
  </div>
  {% endfor %}

  <!-- if no recent concerts -->
  {% else%}
  <p>What? There are no recent concerts</p>
  {% endif%}

</div>

<!-- UNAUTHENTICATED USER VIEW -->
  {% else %}


    <!-- search bar functionality -->

<div class="body_copy">
  <h1>Recently added concerts</h1>
  {% if recent_concerts %}
  <h1>Here are the five most recently added concerts</h1>

  {% for concert in recent_concerts %}
  <div class="search_card">
    <h1>{{concert.api.artist.name}}</h1>
    <h2>Venue: {{concert.api.venue.name}}</h2>
    <h3>Date: {{concert.newDate}}</h3>
    <p>
    <a href="{% url 'mcaapp:login' %}">Login</a> or <a href="{% url 'mcaapp:register' %}">Register</a>
    </p>
  </div>
  {% endfor %}

  {% else%}
  <p>What? There are no recent concerts</p>
  {% endif%}

</div>

  {% endif %}

{% endblock content %}