{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- AUTHENTICATED USER VIEW -->
{% if user.is_authenticated %}

<!-- search bar functionality -->


<!-- page body under nav banner and search -->
<div class="body_copy">
  <h1>{{ user.first_name }}'s Concert Dashboard</h1>
  <h3>You've logged {{user_concerts|length}}
    {% if user_concerts|length != 1%} concerts.
    {% else %} concert.
    {% endif %}
  </h3>

  <!-- recent concerts list -->
  {% if recent_concerts %}
  <h3>Here are five recently added concerts to MCA</h3>

  {% for concert in recent_concerts %}
  <div class="search_card">
    <h1>{{concert.api.artist.name}}</h1>
    <h2>Venue: {{concert.api.venue.name}}</h2>
    <h3>Date: {{concert.newDate}}</h3>
    <p><em>added by: {{concert.user.user.username}} </em></p>
  </div>
  {% endfor %}

  <!-- if no recent concerts -->
  {% else%}
  <p>What? There are no recent concerts</p>
  {% endif%}

</div>

<!-- UNAUTHENTICATED USER VIEW -->
  {% else %}


    <!-- search bar functionality -->

<div class="body_copy">

  <h1>Welcome to My Concert App!</h1>
  <h2></h2>
  <ul>
    <li>Search Concerts</li>
    <li>Add a concert to My Concerts</li>
    <li>Personalize with your own rating <em> (our rating is better because they <a href="https://www.youtube.com/watch?v=KOO5S4vxi0o" target="blank">go to 11</a>)</em></li>
  </ul>


  {% if recent_concerts %}
  <h1>Recently Added by Our Community</h1>
  {% for concert in recent_concerts %}
  <div class="search_card">
    <h1>{{concert.api.artist.name}}</h1>
    <h2>Venue: {{concert.api.venue.name}}</h2>
    <h3>Date: {{concert.newDate}}</h3>
    <p><em>added by: {{concert.user.user.username}} </em></p>
    <p>To Add this Concert:
    <a href="{% url 'mcaapp:login' %}">Login</a> or <a href="{% url 'mcaapp:register' %}">Register</a>
    </p>
  </div>
  {% endfor %}

  {% else%}
  <p>What? There are no recent concerts</p>
  {% endif%}

</div>

  {% endif %}

{% endblock content %}