body {
  margin: 0px;
  background: gray;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: black;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: red;
}

.btn {
  background: gray;
  color: white;
  border: 1px solid white;
  padding: 2px 5px;
  font-size: .8em;
}