{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- display search results -->
{% if search_result %}
  <p>Search Results for: "{{search_terms.artistName}}"
    {% if search_terms.venueName != '' %}
    + "{{search_terms.venueName}}"
    {% endif %}
  </p>
  {% if search_result.success %}
    {% for result in search_result.setlist %}
      <div class="search_card">
        <h2>{{ result.artist.name }}</h2>
        <h4>Venue: {{ result.venue.name }}</h4>
        <h5>Date: {{ result.eventDate }}</h5>


<!-- AUTHENTICATED USER VIEW -->
{% if user.is_authenticated %}

        <!-- add concert to UserConcert table -->
            <form method="post" action="{% url 'mcaapp:concert_create' %}">
            {% csrf_token %}
            <input type="hidden" name="concert_id" value={{result.id}}>
            <button type="submit">add concert</button>
          </form>

{% else %}

<p>Log In or Register to add a concert</p>
{% endif %}

      </div>
  {% endfor %}

  <!-- if there are no results -->
  {% else %}
    <p><em>{{ search_result.message }}</em></p>
  {% endif %}
{% endif %}

{% endblock content %}