<div class="search">
    <form method="get" action="{% url 'mcaapp:search'%}">
      <div class="flex space_evenly">
        {% csrf_token %}
        <div class="search_band block">Search Concerts by
            <label for="artistName">Artist: </label>
          <input type="text" id="artistName" name="artistName" required>
        </div>
        <div class="search_band block">
          <label for="venueName">Location: </label>
          <input type="text" id="venueName" name="venueName">
        </div>
        <div class="search_band"><button type="submit">GO!</button></div>
      </div>
    </form>
  </div>