<h2>Search Concerts</h2>

<form method="get">
  {{ form.as_p }}
  <button type="submit">search</button>
</form>


{% if search_result %}
  <hr>
  <p>Results:</p>
  {% if search_result.success %}
    {% for result in search_result.setlist %}
      <div class="search_card">
        <h3>Artist: {{ result.artist.name }}</h3>
        <h4>Venue: {{ result.venue.name }}</h4>
        <h5>Date: {{ result.eventDate }}</h5>
        <button>add concert</button>
      </div>
  {% endfor %}
  {% else %}
    <p><em>{{ search_result.message }}</em></p>
  {% endif %}
{% endif %}