{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>Public Feed</h1>
<p>Check out these photos from concerts</p>
<p><em>Pro Tip: If you want your photos here, make sure to sign up and uncheck 'private' when uploading your photos to a concert!</em></p>

{% if photos%}
<div class="gallery_parent">
  {% for photo in photos%}
<div class="gallery_child">
<a href="/media/{{photo.media}}"><img src="/media/{{photo.media}}" title="{{photo.description}}"></a>
</div>
{% endfor %}
</div>
{% else%}
<h2>No Photos Uploaded</h2>
{% endif %}

{% endblock %}