{% extends 'base.html' %}
{% load static %}

{% block content %}



{% if user.is_authenticated %}

<h1>Photo Gallery</h1>

{% if concerts%}
<div class="gallery_parent">
    {% for media in concerts%}
        {% if media.photos %}
            {% for photo in media.photos %}
            <div class="gallery_child">
            <a href="/media/{{photo.media}}"><img src="/media/{{photo.media}}" title="{{photo.description}}"></a>
            </div>
            {% endfor %}
            {% endif%}
            {% endfor %}
</div>
{% else%}
    <h2>No Photos Uploaded</h2>
{% endif %}

{% else %}
<h1>Oops!</h1>
<h2>You have to be logged in to view your photos.</h2>
<h3><a href="{% url 'mcaapp:login' %}">Login</a> or <a href="{% url 'mcaapp:register' %}">Sign Up</a> now to continue (it's free!)</h3>
{% endif%}

{% endblock %}