{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Concert Detail</h1>
<!-- the following will show if the user has added concerts -->
{% if concert %}
<div class="search_card">
  <h1>{{concert.api.artist.name}}</h1>
  <h2>Venue: {{concert.api.venue.name}}</h2>
  <h3>Date: {{concert.api.eventDate}}</h3>
  <!-- the following handles the ratings display -->
  <p>Rating: {{concert.rating}} out of 11
  {% if concert.rating == 11 %}
      {% for i in "x"|ljust:concert.rating %}
      <image src="/static/mcaapp/images/horns.png" class="the_horns"></image>
      {% endfor %}
  {% else %}
      {% for i in "x"|ljust:concert.rating %}
      <image src="/static/mcaapp/images/horns.png" class="the_horns"></image>
      {% endfor %}
      {% for i in "x"|ljust:concert.rating_remainder %}
      <image src="/static/mcaapp/images/horns.png" class="the_horns_transparent"></image>
      {% endfor %}
  {% endif %}
  </p>
  <p>Notes: {{ concert.notes}}</p>
  {% if concert.photos %}
      <p>Photos</p>
      {% for photo in concert.photos %}
      <a href="/media/{{photo.media}}"><img src="/media/{{photo.media}}" width="25%"></a>
      {% endfor %}
  {% endif %}

  {% if concert.api.sets.set %}
  <div class="setlist">
  <h2>Setlist:</h2>
  {% for set in concert.api.sets.set %}
  <ul class="setlist">
        {% for song in set.song%}
        <li>{{ song.name }}</li>
        {% endfor %}
  </ul>
  {% endfor %}
  </div>

  {% else %}
  <p>Setlist: not available</p>
  {% endif %}

  <button><a href="{% url 'mcaapp:concert_update' concert.id %}">click to edit</a></button>
  <button><a href="{% url 'mcaapp:concert_media' concert.id %}">add photos</a></button>
  <button><a href="{% url 'mcaapp:concert_delete' concert.id %}">click to delete</a></button>

</div>
{% endif %}

{% endblock %}