{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>My Concerts</h1>
<!-- the following will show if the user has added concerts -->
{% if concerts %}
  {% for concert in concerts %}
  <div class="search_card">
    <h1>{{concert.api.artist.name}}</h1>
    <h2>Venue: {{concert.api.venue.name}}</h2>
    <h3>Date: {{concert.api.eventDate}}</h3>
    <p>Rating: {{concert.rating}} out of 11</p>
    {% if concert.photos %}
    {% for photo in concert.photos %}
    <a href="/media/{{photo.media}}"><img src="/media/{{photo.media}}" height="50px"></a>
    {% endfor %}
    {% endif %}
    <div>
      <button><a href="{% url 'mcaapp:concert_detail' concert.id %}">detail</a></button>
    </div>
  </div>
  {% endfor %}

<!-- the following will show if the user has not added concerts -->
{% else %}
  <p>You don't have any concerts saved yet.</p>
  <p><a href="{% url 'mcaapp:index' %}">SEARCH HERE</a> to begin adding concerts</p>
{% endif%}

{% else %}
<h1>you have to be logged in</h1>
{% endif %}
{% endblock %}