{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>My Concerts
<!-- the following will show if the user has added concerts -->
{% if concerts %}
  <span class="details"> - 
  ({{concerts|length}}
  {% if concerts|length != 1%} concerts logged)
  {% else %} concert logged.)
  </span>
  {% endif %}
</h1>
{% for concert in concerts %}
  <div class="search_card">
    <h1>{{concert.api.artist.name}}</h1>
    <h2>{{concert.api.venue.name}} - {{concert.api.venue.city.name}}, {{concert.api.venue.city.stateCode}}</h2>
    <h3>Date: {{concert.newDate}}</h3>
    <!-- <p>Rating: {{concert.rating}} out of 11</p> -->
    {% if concert.photos %}
    {% for photo in concert.photos %}
    <a href="/media/{{photo.media}}"><img src="/media/{{photo.media}}" height="50px"></a>
    {% endfor %}
    {% endif %}
    <div>
      <button><a href="{% url 'mcaapp:concert_detail' concert.id %}">view details</a></button>
    </div>
  </div>
  {% endfor %}

<!-- the following will show if the user has not added concerts -->
{% else %}
  <p>You don't have any concerts saved yet.</p>
  <p><a href="{% url 'mcaapp:index' %}">SEARCH HERE</a> to begin adding concerts</p>
{% endif%}

{% else %}
<h1>Oops!</h1>
<h2>You have to be logged in to view your concerts.</h2>
<h3><a href="{% url 'mcaapp:login' %}">Login</a> or <a href="{% url 'mcaapp:register' %}">Sign Up</a> now to continue (it's free!)</h3>
{% endif %}
{% endblock %}